{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block body %}
    <h1>Listado de Usuarios</h1>

    <div class="contenedor-tabla">
        <table id="tablaUsuarios" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Apellidos y Nombres</th>
                    <th>Usuario</th>
                    <th>Perfil</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario[0] }}</td>
                        <td>{{ usuario[2] }}</td>
                        <td>{{ usuario[3] }}</td>
                        <td>{{ usuario[4] }}</td>
                        <td>
                            <button class="btn btn-primary" onclick="editarUsuario(this)">Editar</button>
                            <button class="btn btn-danger" onclick="eliminarUsuario(this)">Eliminar</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Datos del Usuario</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <label for="recipient-name" class="col-form-label">Apellido Paterno:</label>
                        <input type="text" class="form-control" id="apellido-paterno">
                    </div>
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Apellido Materno:</label>
                        <input type="text" class="form-control" id="apellido-materno">
                    </div>
                    <div>
                        <label for="message-text" class="col-form-label">Nombres:</label>
                        <input type="text" class="form-control" id="nombres">
                    </div>
                    <div>
                        <label for="message-text" class="col-form-label">Perfil:</label>
                        <select class="form-select" aria-label="Default select example" id="perfil-select">
                            <option selected>Open this select menu</option>
                            {% for perfil in perfiles %}
                                <option value="{{ perfil[0] }}">{{ perfil[1] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary">Modificar</button>
            </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script>
        function editarUsuario(button) {
            var row = button.closest('tr');
            var usuarioId = row.cells[0].textContent;
            
            fetch("/usuarios/get_user",{
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ id: usuarioId })
            })
            .then(response => response.json())
            .then(data => {
                document.getElementById('apellido-paterno').value = data.user.apellido_paterno;
                document.getElementById('apellido-materno').value = data.user.apellido_materno;
                document.getElementById('nombres').value = data.user.nombres;
                document.getElementById('perfil-select').value = data.user.perfil_id;
            })
            .catch(error => {
                console.error('Error:', error);
            });

            const elementoModal = document.getElementById('exampleModal');
            const miModal = bootstrap.Modal.getOrCreateInstance(elementoModal);

            miModal.show();
        }

        function eliminarUsuario(button) {
            var row = button.closest('tr');
            var usuarioId = row.cells[0].textContent;
            
            if (confirm("¿Está seguro de que desea eliminar este usuario?")) {
                fetch("/usuarios/delete", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify({ id: usuarioId })
                })
                .then(response => response.json())
                .then(data => {
                    /*if (data.success) {
                        row.remove();
                        alert("Usuario eliminado correctamente.");
                    } else {
                        alert("Error al eliminar el usuario.");
                    }*/
                })
                .catch(error => {
                    console.error('Error:', error);
                });
            }
        }

    </script>
{% endblock %}